{% extends 'app/base.html' %}
{% block content %}
	<div id="map"></div>
    <script>
      function initMap() {
        var beau850 = {lat: -33.457785, lng: -70.663808};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: beau850
        });
        var marker = new google.maps.Marker({
          position: beau850,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV7ElkwQIJ2v6YG9fhXsbxbHNZzfoO9L8&callback=initMap">
    </script>
{% endblock %}