{% extends 'app/base.html' %}
{% block content %}

    <main>

    <div class="container">
        <div id="profile-page-header" class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/img/food-background3.png" alt="user background">
            </div>
            <div class="row hide-on-small-and-down">
                <a class="card-profile-image-large">
                    <img src="../static/img/AvatarVendedor1.png" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </a>
            </div>
            <div class="row show-on-small hide-on-med-and-up">
                <a class="card-profile-image-small">
                    <img src="../static/img/AvatarVendedor1.png" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </a>
            </div>
            <div class="card-content s12">
                <div class="row">
                    <div class="col s6 offset-s2">
                        <h4 class="card-title grey-text flow-text text-darken-4">Juan Pérez</h4>
                        <p class="medium-small flow-text grey-text">Vendedor Ambulante</p>
                    </div>
                    <div class="col s1 hide-on-med-and-down center-align">
                        <h4 class="card-title flow-text light-green-text">Disponible</h4>
                        <p class="medium-small flow-text grey-text">Estado</p>
                    </div>
                    <div class="col s1 hide-on-med-and-down right-align">
                        <figure class="waves-light">
                            <img  src="../static/img/star.png">
                        </figure>
                    </div>

                </div>
                <div class="row show-on-medium-and-down hide-on-med-and-up">
                    <div class="col s6 offset-s2">
                        <p class="flow-text light-green-text">Disponible</p>
                        <p class="medium-small flow-text grey-text">Estado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="profile-page-content" class="row">
        <div id="profile-page-wall" class="col s12 m8">
            <div class="col s12">
                <div class="tab-content col s12  grey lighten-4">
                    <h4 class="teal-text">Resumen stock de productos</h4>
                </div>
            </div>
        </div>
    </div>
    </main>
{% endblock %}